<web-app>
<servlet>
<servlet-name>a</servlet-name>
<servlet-class>e1</servlet-class>
</servlet>
<servlet>
<servlet-name>b</servlet-name>
<servlet-class>e2</servlet-class>
</servlet>
<servlet>
<servlet-name>c</servlet-name>
<servlet-class>home</servlet-class>
</servlet>
<servelt-mapping>
<servelt-name>a</servlet-name>
<url-pattern>/e1</url-pattern>
</servlet-mapping>
<servelt-mapping>
<servelt-name>b</servlet-name>
<url-pattern>/e2</url-pattern>
</servlet-mapping>
<servelt-mapping>
<servelt-name>c</servlet-name>
<url-pattern>/home</url-pattern>
</servlet-mapping>
</web-app>